* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Ubuntu", sans-serif;
  font-size: 12px;

  border: solid 1px;
}

.container {
  width: 200px;
  height: 200px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-text {
  width: 160px;
  padding: 1px 3px;
  outline: none;
}

.container-button {
  width: 160px;
  padding: 5px 0px;

  display: flex;
  justify-content: space-around;

}

.btn{
    width: 77px;
    padding: 2px ;
    border-radius: 3px;
    border: solid 1px #4c4c4d;
    cursor: pointer;
}


